@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  cursor: url('./cursor/cursor.png'), auto;
  background-color:#f7f2f2;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form{
  margin-top:20px;
}
h1{
  font-family: 'Gravitas One',sans-serif;
  font-weight: 500;
}

.todo-item.task .todo-item-title{
  font-family: 'Open Sans',sans-serif;
}
.todo-tools{
  margin-top: 1rem;
}

.btn{
  font-weight: 600;
  color:#ffff;
  cursor: pointer;
  font-family: 'Open Sans',sans-serif;
  padding: 8px 20px;
  border-radius:4px;
  border:none;
  background:yellow;
  font-size: 16px;
  transition: all 0.4s;
  &:hover{
    background-color:#dbaf0f;
  }
  &:active{
    background-color:#c2a840;
  }
}
.todo-tools{
  margin-top:30px;
  display:flex;
  justify-content: center;
  gap:15px;
  button{
    cursor: pointer;
  }
}

input {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  padding:3px 10px;
  border:2px solid black;
  border-radius: 4px;
  font-size: 16px;
  touch-action: manipulation;

}
.todo-addBtn{
  margin-left:10px;
  background-color:#40c912;
}
.todo-sortBtn{
  background-color:#830fdb;
}

.todo-remove{
  background-color:red;
}
.remove{
  margin-top:20px;
}
.modal-backdrop {
  h1{
    font-family: 'Open Sans',serif;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
.todo-yes{
  background-color:#40c912;
}
.todo-no{
  background-color:red;
}
.todo-sure{
  display: flex;
  justify-content: center;
  gap:20px;
}
.todo-complete{
  margin-left:20px;
  background-color:#40c912;

}
.completed{
  opacity:0.3;
}
@media screen and (max-width:400px){
  .todo-title{
    font-size:20px ;
  }
  .todo-addBtn{
    margin-top:30px;

  }
  btn{
    padding:4px 10px;
    font-size: 10px;
  }
  input{
    max-width:100px;
    font-size: 10px;
  }
}
@media screen and (max-width:480px){
  .todo-tools{
    flex-direction: column;
  }
  .todo-complete{
    margin-right:20px;
    margin-top:20px;
  }
  btn{
    flex: 0 0 auto;
  }
}